@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/typography";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0;
}

.page-title {
    color: $white;
    @include textHeader;
    margin: 0 0 3rem 0;
    font-weight: 700;
    font-size: 2.5rem !important;
}

h2 {
    color: $white;
    @include textHeader;
    margin: 0 0 1rem 0;
    font-weight: 700;
}

a {
    text-decoration: none !important;
    transition: all 200ms ease;

    &:hover {
        color: gray !important;
    }
}

.unicon {
    cursor: pointer !important;
}

.delete-item {
    background: $danger;
    border-radius: $border-radius;
    @include textPlain;
    color: $white;
    border: none;
    outline: none;
    padding: 12px 16px;
    transition: all 200ms ease;

    &:hover {
        background: $danger--hover;
    }
}

.submit-new-item {
    border: none;
    outline: none;
    padding: 16px;
    font-size: 1.2rem;
    background: $brand;
    color: #1D1D1D;
    border-radius: $border-radius;
    @include textHeader;
    font-weight: 700;
    width: 100%;
    transition: 200ms ease all;

    &:hover {
        background: $brand__hover;
    }
}


.cancel {
    color: dimgray;
    background: none;
    border-radius: $border-radius;
    @include textHeader;
    transition: 200ms ease all;

    &:hover {
        background: #121111;
    }
}



.preview {
    margin-top: 5rem;

    h3 {
        @include textHeader;
        color: $white;
    }

    .history {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 4rem;
    }
}