@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/typography";

.task-item {
    width: 18rem;
    background: #151515;
    border-radius: $border-radius;
    border: 2px solid #302F2F;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 250ms all $transition;

    &:hover {
        background: #121111;
    }

    &-body {
        height: 75%;
        padding: 16px 20px;
        width: 100%;
        h3 {
            @include textHeader;
            margin: 0;
            text-decoration: none;
            font-size: 1.2rem;
            color: $white;
        }

        p, span {
            @include textPlain;
            margin: 8px 0 0 0;
            font-size: 1rem;
            color: $gray;
            text-decoration: none;
        }
    }

    &-footer {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        font-size: 14px;
        align-items: center;
        border-top: 2px solid $dark-gray;
        color: $gray;
        @include textPlain;

        & span {
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            margin-right: 0.5rem;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}