@import "src/assets/styles/base/common";
@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/typography";

.employees-container {
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}