@import "src/assets/styles/base/common";
@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/typography";

.task-content-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.task-content-section {
    h3 {
        color: gray;
        @include textHeader;
        margin: 0;
        font-size: 1rem !important;
    }

    p, a {
        color: $white;
        @include textPlain;
        margin: 4px 0 3rem 0;
        font-weight: 700;
        font-size: 1.5rem !important;
    }

    a {
        text-decoration: underline !important;
    }
}

.task-status {
    display: flex;
    margin: 0 0 3rem 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    span {
        width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10px;
        margin-right: 16px;
        border-radius: 50%;
    }
    p {
        color: $white;
        margin: 0;
    }
}


.preview {
    margin-top: 5rem;

    h3 {
        @include textHeader;
        color: $white;
    }
}