@import "src/assets/styles/base/common";
@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/typography";

.task-content-section {
    h3 {
        color: gray;
        @include textHeader;
        margin: 0;
        font-size: 1rem !important;
    }

    p {
        color: $white;
        @include textPlain;
        margin: 4px 0 3rem 0;
        font-weight: 700;
        font-size: 1.5rem !important;
    }
}