$background: #1B1B1B;
$sidebar-background: #191919;

$brand: #D1BE9E;
$brand__hover: rgba(209, 190, 158, 0.3);
$white: #E8EAEB;
$gray: #B6B6B6;
$dark-gray: #302F2F;

$border-radius: 8px;
$transition: cubic-bezier(0.4, 0.01, 0.165, 0.99);


$tasks-waiting: #5B41FF;
$tasks-in-progress: #F4C857;
$tasks-ready: #44EE7E;

$danger: #b9173c;
$danger--hover: #690a1f;