$background: white;
$sidebar-background: #FDFDFD;

$brand: #2DA277;
$brand__hover: rgba(106, 160, 151, 0.2);
$black: #303944;

$border-radius: 8px;
$transition: cubic-bezier(0.4, 0.01, 0.165, 0.99);


$tasks-waiting: #5B41FF;
$tasks-in-progress: #F4C857;
$tasks-ready: #44EE7E;