@import "base/common";
@import "base/fonts";
@import "base/normalize";

@import "helpers/variables";

body {
    background: $background !important;
}

.main-content {
    padding: 40px;
    position: fixed;
    top: 0;
    left: 37vh;
    height: 100%;
    min-height: auto;
    width: calc(100% - 37vh);
    overflow: auto;
}